# Python Virtual Environment
.venv/

# Python caching
__pycache__/
*.pyc

# Local Credentials & User Data (strictly gitignored for security)
.env
data/
*.log

# IDE & Editor configurations
.vscode/
.idea/
.project
.pydevproject
*.suo
*.ntvs*
*.njsproj
*.sln